* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  

  /* .video video{

  }
   */
  .container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
  }
  
  #time ,
  .sound {
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
  }
  #time button,
  .sound button {
    color: white;
    /* width: 30%;
    height: 10%; */
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
  }

  #time button{
    height: 120px;
    width:120px;
  }
  
  .sound button {
    border: none;
    height: 120px;
    width: 120px;
    padding: 30px;
    border-radius: 50%;
  }
  .sound button:nth-child(1) {
    background: #4972a1;
  }
  .sound button:nth-child(2) {
    background: #a14f49;
  }
  .sound button img {
    height: 100%;
  }
  
  .time button:hover {
    background: white;
    color: black;
  }
  
  .player {
    position: relative;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  
  .player svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .player svg circle {
    transition: all 0.2s ease-in-out;
  }
  .display {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 10%;
  }

  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
  }
 .video video{
    top: 50%;
    left: 50%;
    width: 100%;
   transform:translate(-50%,-50%);
  } 