.container{
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    margin: 10vh auto 0 auto;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#display{
    text-align: right;
    line-height: 70px;
    height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.btn{
    line-height: 100px;
    border: 0.5px solid #999;
    font-size: 25px;
}
.btn:hover{
    background-color: #323330;
    color: white;
    cursor: pointer;
}
.equal,.equal:hover{
    background-color:  rgb(85,85,255);
    color: white;
}

@media screen and (max-width:920px){
    .container{
        max-width: 250px;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 23px 5px rgba(153,153,153,1);
        margin: 35px auto;
    }
    .buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #display{
        text-align: right;
        line-height: 50px;
        height: 50px;
        padding: 13px 5px;
        font-size: 20px;
    }
    .btn{
        line-height: 70px;
        border: 0.5px solid #999;
        font-size: 20px;
    }
    .btn:hover{
        background-color: #323330;
        color: white;
        cursor: pointer;
    }
    .equal,.equal:hover{
        background-color:  rgb(85,85,255);
        color: white;
    }
}