.headingimg{
    margin: auto;
     width: 1000px;
}
.left{
     width: 200px;  
    text-align: center;
}
.middle{
     width: 500px; 
    text-align: center;
}
.right{
     width: 300px; 
    text-align: center;
}
body{
    background-color: #bdcebe;
}
table{
    margin: auto;
    border-spacing: 10px 10px;
}
tr,td{
   padding: 20px;
}
