*{
    box-sizing: border-box;
}

body{
    display:flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height:100vh;
}

.container{
   border: 1px black solid;
   border-radius:10px;
   padding:40px;
   text-align: center;

}

.info{
    background-color: #eaeaea;
    display:inline-block;
    padding:10px;
    /* line-height: 20px; */
    color:#777;
    border-radius: 5px;
    /* max-height: 400px; */
}

.code-container{
    display:flex;
    align-items: center;
    justify-content: center;
     margin: 40px 0;
}

.code{
    caret-color: transparent;
    border-radius: 5px;
    font-size: 75px;
    border:1px solid white;
    font-weight: 300;
    margin:1%;
    text-align: center;
}

.code:valid{
   border-color: aqua;
   box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
}

@media(max-width:600px){
    .code-container{
        flex-wrap: wrap;
    }
    .code{
        font-size: 60px;
        height:80px;
        max-width: 70px;
    }
}

.code::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}