*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.calculator{
 
    margin:auto;
   max-width: 400px;
    margin-top: 20vh;
    box-shadow: 7px 7px 20px 17px rgb(153,153,153);
}

.display{
   height:70px;
   line-height: 70px;
   padding:16px 8px;
   font-size: 25px;
    /* line-height: 10px; */
}

.buttons{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn{
    border: 0.5px solid #999;
    cursor: pointer;
    text-align: center;
   font-size: 25px;
    line-height: 100px;
}