body{
    background-color:antiquewhite;
    color: #fff;
}

h1{
    fonr-size:48px;
    font-family:"mon"
    font-weight:200;
    text-align:center;
    padding:0 60px;
    margin:0;
}

.stopwatch{
    diaplay:flex;
    justify=content:
}
.time{
    font-family:"ROBOTO"
    font-weight:300;
    font-size:48px;
}

.controls{
    diaplay:flex;
    justify-content:space=between;
}

button{
    cursor:pointer;
    background: transparent;
    outline:none;
    border:none;
    padding:0;
    margin:0;
}

#playbutton{
    display:none;
    
}