*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#263859;
    height: 100px;
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
    
.wrapper{
    padding: 20px;
    margin-top: 10px;
    background-color: #6b778d;
    border-radius: 20px;
    width: 360px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.25);
    text-align: center; 
}

#temperature #temperature-unit{
    font-size: 1.5rem;
    color: #ffffff;
}

#temperature #temperature-value{
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

#climate{
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#location{
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

#temperature-icon{
    margin: 3rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }