*{
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform:translateY(100vh); */
}

#bottom{

    transform: translateY(80vh);

    background: rgba(0, 0, 0, 0.1);
    padding: 1px 10px 1px 10px;
    font-size: 20px;
}

#heading{
    transform: translateY(50vh);
    font-size: 3rem;

}



input{
    padding: 5 px;
    width:60px;
    font-size: 20px;
    border:none;
    text-align: center;
    background-color: yellowgreen;
}