@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg,#b8c6db 0%,#f5f7fa 100%);
    font-family: "Poppins",sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}
.quiz-container{
    background-color: white;
    border-radius: 10px;
    width: 600px;
}
.quiz-header{
    padding: 4rem;
}
button{
    width: 100%;
    background-color: #8e44ad;
    color: white;
    padding: 1.3rem;
    font-size: 1.1rem;
    border-bottom: #8e44ad;
    border-right: #8e44ad;
    cursor: pointer;
}
button:hover{
    background-color: #732d91;
}
ul{
    list-style: none;
}
ul li label{
    cursor: pointer;
}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}