*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#panel1{
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.panel{
    background-size: cover;
    background-position: center;;
    border-radius: 20px;
    /* height:400px;
    width:100px; */
    /* display:flex;
    flex:1 1 100px; */
    margin:10px;
    height: 90vh;
    cursor: pointer;
    flex:1;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.container{
   display:flex;
   flex-direction: row;
   /* height:60vh;
   width:90vw; */
   /* margin:auto auto; */
   /* margin-top: auto;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
   align-content: center; */
}

#panel2{
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
}

#panel3{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");   
}

#panel4{
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");   
}

#panel5{
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
}

h3{
    position: relative;
    top:80vh;
    left: 10px;
    opacity:0;
    color: aliceblue;
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity: 1;
    transition: 500ms;
}